.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

footer {
  color: aliceblue;
  background-color: #0d6efd;
}

section {
  padding-top: 5rem;
}
